 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 @font-face {
     font-family: 'Inter';
     src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
     font-weight: 100 900;
     font-style: normal;
 }


 @font-face {
     font-family: 'Inter';
     src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
     font-weight: 100 900;
     font-style: italic;
 }


 @font-face {
     font-family: 'Montserrat';
     src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
     font-weight: 100 900;
     font-style: normal;
 }

 .container {
     width: 100%;
 }


 footer {
     background-color: black;
     color: white;
     height: 120px;
 }

 header {
     background-color: #1e1f29;
     width: 100%;


 }

 header #top-header {
     background-color: #1e1f29;
     width: 100%;
     padding: 10px 30px;
     overflow: visible;
    
     position: relative;
     z-index: 100;
 }

 header #top-header ul {
     margin: 10px 0;
 }

 header #top-header ul li {
     display: inline-block;
     position: relative;
 }

 header #top-header ul.pull-left {
     float: left;
     list-style: none;
 }

 header #top-header ul.pull-right {
     float: right;
     list-style: none;
 }

 header #top-header ul li a {
     display: block;
     text-decoration: none;
     font-size: 12px;
     font-family: 'Inter';
     padding: 10px 15px;
     color: white;
     font-weight: bold;
 }

 header #top-header ul li i {
     color: #D10024;
 }

 .account-menu .submenu {
     display: none;
     position: absolute;
     top: 100%;
     left: 0;
     background-color: #1e1f29;
     min-width: 160px;
     border: 1px solid #15161D;
     z-index: 9999;
     flex-direction: column;
 }

 .account-menu .submenu li {
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .account-menu .submenu li a {
     display: block;
     width: 100%;
     padding: 10px 15px;
     color: white;
     font-size: 12px;
     font-family: 'Inter';
     text-align: left;
     transition: background 0.3s ease;
 }

 .account-menu .submenu li a:hover {
     background-color: #D10024;
 }

 .account-menu:hover .submenu {
     display: flex;
 }

 header .main-header {
     background-color: #15161D;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 3px solid #D10024;
     padding: 15px 30px;
     width: 100%;
 }

 header .main-header .logo img {
     max-height: 60px;
 }

 #search-bar {
     display: flex;
     width: 50%;
 }

 #search-bar input {
     height: 40px;
     padding: 0 15px;
     border: 1px solid #E4E7ED;
     background-color: #FFF;
     width: 100%;
     font-size: 14px;
     font-family: 'Inter';
     border-radius: 40px 0 0 40px;
     outline: none;
 }

 #search-bar button {
     height: 40px;
     width: 100px;
     background-color: #D10024;
     color: #FFF;
     font-weight: 700;
     border: none;
     border-radius: 0 40px 40px 0;
     cursor: pointer;
     transition: background 0.3s ease;
 }

 #search-bar button:hover {
     background-color: #a5001a;
 }

 #header-icons span {

     color: white;
     font-family: 'Montserrat';
 }

 #header-icons i {
     color: red;
     margin: 10px;
 }

 header nav {
     border-top: 3px solid #D10024;
 }

 .nav-menu {
     background-color: white;
     width: 100%;
     border-bottom: 2px solid rgba(194, 192, 192, 0.643);
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
 }

 .nav-menu ul {
     list-style: none;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     margin: 0;
     padding: 0;
 }

 .nav-menu ul li {
     margin: 0 10px;
 }

 .nav-menu ul li a {
     font-family: 'Montserrat';
     display: block;
     padding: 15px 25px;
     color: #222;
     font-weight: 500;
     text-decoration: none;
     transition: all 0.3s ease;
     border-bottom: 3px solid transparent;
 }

 .nav-menu ul li a:hover {
     color: #D10024;
     border-bottom-color: #D10024;
 }

 footer {
     background-color: black;
     color: white;
     height: 120px;
 }

 div.newsletter {
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     text-align: center;
     padding: 10px 10px;
     border-bottom: 2px solid #D10024;
 }

 div.newsletter form {
     margin-top: 15px;
     padding: 10px 20px;
     margin: 15px 0;
 }

 div.newsletter p {
     font-family: 'Inter';
     font-size: 24px;
     font-weight: 400;
     margin-bottom: 10px;
     color: #5a5a5a88;
     text-transform: capitalize;

 }

 div.newsletter p span {
     font-family: 'Inter';
     font-size: 24px;
     font-weight: 700;
     color: #333;
 }

 div.newsletter form input[type="email"] {
     font-family: 'Inter';
     height: 40px;
     padding: 0px 15px;
     border: 1px solid #E4E7ED;
     background-color: #FFF;
     width: 30%;
     border-radius: 40px 0px 0px 40px;
     margin-right: -4px;
 }

 div.newsletter form input[type="email"]::placeholder {
     margin: 0;
     font: inherit;
     color: #3333338b;
 }

 div.newsletter form button {
     width: 160px;
     height: 40px;

     font-weight: 700;
     background: #D10024;
     color: #FFF;
     border: none;
     border-radius: 0px 40px 40px 0px;
     text-transform: capitalize;
 }

 div.newsletter form button i {

     font-size: inherit;
     text-rendering: auto;
 }

 .newsletter ul li {
     list-style: none;
     display: inline-block;
     margin: 10px 10px;
     padding: 10px;
     border: 1px solid #ccc;
 }

 .newsletter ul li i {
     color: #2B2D42
 }

 .newsletter ul li i:hover {
     color: #D10024;
 }

 .footer {

     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     padding: 40px 60px;
     background-color: #15161D;
     color: #5a5a5a;
 }

 .footer-col {
     width: 22%;
     text-align: left;
 }

 .footer-col h3 {
     font-family: 'Montserrat';
     font-size: 18px;
     font-weight: 700;
     margin-bottom: 15px;
     text-transform: capitalize;
     color: #FFF;
 }

 .footer-col p {
     font-family: 'Inter';
     font-size: 14px;
     font-weight: 400;
     margin-bottom: 10px;
     color: #B9BABC;
 }

 .footer-col ul {
     padding: 0;
     margin: 0;
 }

 .footer-col ul li {
     list-style: none;
     margin-bottom: 8px;
 }

 .footer-col ul li a {
     font-family: 'Inter';
     font-size: 14px;
     font-weight: 400;
     color: #B9BABC;
     text-transform: capitalize;
     text-decoration: none;
     display: inline-block;
 }

 .footer-col ul li a:hover {
     color: #D10024;
     cursor: pointer;
 }

 div.product-Page {
     padding: 15px;
     border-bottom: 2px solid lightgray;

 }

 div.product-Page div.imgHolder {

     width: 25%;
     margin-left: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 div.product-Page div.imgHolder img {
     width: 40%;
     height: 50%;
     margin-bottom: 10px;
     height: auto;
     margin-right: 10px;
     border: 1px solid #d4d4d49f;
 }

 div.product-Page #product-picture {
     position: absolute;
     top: 40%;
     left: 15%;
     width: 400px;
     height: 500px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

     background-color: rgb(255, 255, 255);
     background-image: url("/images/logo.jpg");
     transition: background-image 60s ease;

 }

 div.product-Page #product-picture:hover {
     animation: cycleBackgrounds 5.5s linear infinite;
 }

 @keyframes cycleBackgrounds {
     0% {
         background-image: url("/images/product01.png");
     }

     25% {
         background-image: url("/images/product03.png");
     }

     50% {
         background-image: url("/images/product06.png");
     }

     75% {
         background-image: url("/images/product08.png");
     }

     100% {
         background-image: url("/images/product01.png");
     }
 }

 div.product-Page div.product-detail {
     text-align: justify;

     width: 50%;
     position: absolute;
     top: 50%;
     left: 52%;
 }

 div.product-Page div.product-detail h2 {
     color: #2B2D42;
     font-weight: 700;
     font-family: 'Montserrat';
     margin: 0 0 10px;
     text-transform: uppercase;
     font-size: 18px;
 }

 div.product-detail div div.product-rating {
     display: inline-block;

 }

 div.product-detail div div.product-rating i {
     margin-right: 15px;
     color: #D10024;
     display: inline-block;
     font: normal normal normal 14px / 1 FontAwesome;
     font-size: inherit;

 }

 div.product-detail div a {
     font-size: 12px;
     color: #2B2D42;
     font-weight: 500;
     transition: 0.2s color;
     font-family: 'Inter';
     color: #337ab7;
     text-decoration: none;
     background-color: transparent;
 }

 div.product-detail div h3 {
     font-family: 'Montserrat';
     display: inline-block;
     font-size: 24px;
     margin-top: 10px;
     margin-bottom: 15px;
     color: #D10024;
     color: #2B2D42;
     font-weight: 700;

 }

 div.product-detail div del {

     font-size: 70%;
     font-weight: 400;
     color: #8D99AE;
 }

 div.product-detail div span {
     font-family: 'Inter';
     font-size: 12px;
     text-transform: uppercase;
     font-weight: 700;
     margin-left: 30px;
     color: #D10024;
 }

 div.product-detail p {
     font-family: 'Inter';

     width: 50%;
     text-align: justify;
     font-size: 14px;
     line-height: 1.42857143;
     color: #333;

 }

 .product-detail div.product-options {
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .product-detail div.product-options label {
     font-family: 'Inter';
     font-weight: 500;
     font-size: 12px;
     text-transform: uppercase;
     margin-right: 15px;
     margin-bottom: 0px;
 }

 .product-detail div.product-options label select {

     width: 90px;

     padding: 0px 15px;
     background: #FFF;
     border: 1px solid #E4E7ED;
     height: 40px;
     font-family: 'Inter';
     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
     text-transform: none;
     margin: 0;
     font: inherit;
     color: inherit;
 }



 .product-detail div.add-to-cart {
     margin-bottom: 30px;
 }

 .product-detail .add-to-cart .qty-label {

     display: inline-block;
     font-weight: 500;
     font-size: 12px;
     text-transform: uppercase;
     font-family: 'Inter';
     margin-right: 15px;
     margin-bottom: 0px;
 }

 .product-detail .add-to-cart .qty-label .input-number {
     width: 90px;
     color: #a5001a;
     display: inline-block;
     position: relative;

 }

 div.input-number input[type="number"] {
     height: 40px;
     width: 100%;
     border: 1px solid #E4E7ED;
     background-color: #FFF;
     padding: 0px 35px 0px 15px;

     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
     margin: 0;
 }

 .input-number .qty-up {

     right: 0;
     top: 0;
     border-bottom: 0px;
 }

 .input-number .qty-down {
     right: 0;
     bottom: 0;
 }

 .input-number .qty-up,
 .input-number .qty-down {
     position: absolute;
     display: block;
     width: 20px;
     height: 20px;
     border: 1px solid #E4E7ED;
     background-color: #FFF;
     text-align: center;
     font-weight: 700;
     cursor: pointer;


 }

 .product-detail .add-to-cart .add-to-cart-btn {
     position: relative;
     border: 2px solid transparent;
     height: 40px;
     padding: 0 30px;
     background-color: #ef233c;
     color: #FFF;
     text-transform: uppercase;
     font-weight: 700;
     border-radius: 40px;
     transition: 0.2s all;
     cursor: pointer;
     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
     overflow: visible;
     margin: 0;

 }

 .product-detail .add-to-cart .add-to-cart-btn i {
     position: absolute;
     left: 0;
     top: 0;
     width: 40px;
     height: 40px;
     line-height: 38px;
     color: #D10024;
     visibility: hidden;
     display: inline-block;


     text-rendering: auto;

 }

 .product-detail .add-to-cart .add-to-cart-btn:hover i {
     visibility: visible;
 }

 .product-detail .add-to-cart .add-to-cart-btn:hover {

     background-color: #FFF;
     color: #D10024;
     border-color: #D10024;
     padding: 0px 30px 0px 50px;

 }

 .product-detail ul.product-btns {
     margin: 0;

     padding: 0;
     list-style: none;
     display: block;
 }

 .product-detail .product-btns li {
     display: inline-block;
     text-transform: uppercase;
     font-size: 12px;
     font-family: 'Inter';
     list-style-type: none;
 }

 .product-detail .product-btns li a {
     display: inline-block;
     text-transform: uppercase;
     font-family: 'Inter';
     font-size: 12px;
     color: #2B2D42;
     font-weight: 500;

     transition: 0.2s color;
     text-decoration: none;
 }

 .product-detail .product-links ul {
     margin-top: 15px;

     margin: 0;
     padding: 0;
     list-style: none;
 }

 .product-detail .product-links li {
     display: inline-block;
     text-transform: uppercase;
     font-size: 12px;
     font-family: 'Inter';
 }

 
 .product-detail .product-links li a {

     color: #2B2D42;
     font-family: 'Inter';
     font-weight: 500;



     transition: 0.2s color;

     text-decoration: none;

     background-color: transparent;
 }

 div.product-description {
     padding: 10px;

 }

 div.product-description span {
     color: #5a5a5a;
     cursor: pointer;
     font-size: 16px;

     font-family: 'Inter';

 }

 div.product-description p {
     margin: 0;
     padding: 0;
     line-height: 1.6;
     font-size: 14px;
     text-align: justify;


     width: 50%;

 }

 div.product-description span:hover {
     color: #D10024;

 }

 .fa:hover {
     color: #D10024;
 }

 @media (max-width: 768px) {

     div.product-Page #product-picture {
         position: relative;
         top: auto;
         left: auto;
         width: 100%;
         height: 400px;
         margin: 0 auto 20px;
     }

     div.product-Page div.product-detail {
         position: relative;
         top: auto;
         left: auto;
         width: 100%;
         text-align: left;
         margin-top: 0;
         padding-top: 0;
     }


     div.product-Page div.imgHolder {
         width: 100%;
         margin-left: 0;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
     }

     div.product-Page div.imgHolder img {
         width: 25%;
         height: auto;
         margin: 5px;
     }

     div.product-detail p {
         width: 100%;
     }

     .product-detail div.product-options,
     .product-detail .add-to-cart {
         display: block;
     }

     .product-detail div.product-options label,
     .product-detail .add-to-cart .qty-label {
         display: block;
         margin-bottom: 8px;
     }

     .product-detail div.product-options label select,
     div.input-number input[type="number"] {
         width: 100%;
         max-width: 200px;
     }

     .add-to-cart-btn {
         width: 100%;
         max-width: 300px;
         padding: 0 30px !important;
         text-align: center;
     }

     .add-to-cart-btn:hover {
         padding: 0 30px !important;
     }

     header .main-header {
         flex-direction: column;
         padding: 10px;
     }

     header .main-header .logo img {
         max-height: 50px;
         margin-bottom: 10px;
     }

     #search-bar {
         width: 100%;
         margin-top: 10px;
     }

     #search-bar input {
         width: calc(100% - 100px);
         border-radius: 40px 0 0 40px;
     }

     #search-bar button {
         border-radius: 0 40px 40px 0;
     }


     .nav-menu ul {
         flex-direction: column;
         align-items: flex-start;
     }

     .nav-menu ul li {
         margin: 5px 0;
         width: 100%;
     }

     .nav-menu ul li a {
         padding: 12px 20px;
         width: 100%;
         box-sizing: border-box;
     }


     div.newsletter form input[type="email"] {
         width: 70%;
         border-radius: 40px 0 0 40px;
         margin-right: 0;
     }

     div.newsletter form button {
         width: auto;
         min-width: 120px;
         border-radius: 0 40px 40px 0;
     }

     .footer {
         flex-direction: column;
         padding: 30px 20px;
     }

     .footer-col {
         width: 100%;
         margin-bottom: 20px;
     }


     header #top-header ul.pull-left,
     header #top-header ul.pull-right {
         float: none;
         text-align: center;
         margin: 5px 0;
     }

     header #top-header ul li {
         display: inline-block;
         margin: 0 5px;
     }


     .account-menu:hover .submenu {
         display: block;
     }
 }