     * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }


@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}


@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


        .container {
            width: 100%;
        }

        
        footer {
            background-color: black;
            color: white;
            height: 120px;
              font-family: 'Inter';
        }
   header {
    background-color: #1e1f29;
    width: 100%;
    
}

header #top-header {
    background-color: #1e1f29;
    width: 100%;
    padding: 10px 30px;
    overflow: visible;
    position: relative;
    z-index: 100;
}

header #top-header ul {
    margin: 10px 0;
     
}

header #top-header ul li {
    display: inline-block;
    position: relative;
}

header #top-header ul.pull-left {
    float: left;
    list-style: none;
}

header #top-header ul.pull-right {
    float: right;
    list-style: none;
}

header #top-header ul li a {
    display: block;
    text-decoration: none;
    font-size: 12px;
     font-family: 'Inter';  
    padding: 10px 15px;
    color: white;
    font-weight: bold;
}

header #top-header ul li i {
    color: #D10024;
}

.account-menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1e1f29;
    min-width: 160px;
    border: 1px solid #15161D;

    flex-direction: column;
      font-family: 'Inter';
}

.account-menu .submenu li {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.account-menu .submenu li a {
    display: block;
    width: 100%;
    padding: 10px 15px;
      font-family: 'Inter';
    color: white;
    font-size: 12px;
    text-align: left;
    transition: background 0.3s ease;
}

.account-menu .submenu li a:hover {
    background-color: #D10024;
}

.account-menu:hover .submenu {
    display: flex;
}

header .main-header {
    background-color: #15161D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #D10024;
    padding: 15px 30px;
    width: 100%;
      font-family: 'Inter';
}

header .main-header .logo img {
    max-height: 60px;
}

#search-bar {
    display: flex;
    width: 50%;
}

#search-bar input {
    height: 40px;
    padding: 0 15px;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    width: 100%;
      font-family: 'Inter';
    font-size: 14px;
    
    border-radius: 40px 0 0 40px;
    outline: none;
}

#search-bar button {
    height: 40px;
    width: 100px;
    background-color: #D10024;
    color: #FFF;
    font-weight: 700;
      font-family: 'Inter';
    border: none;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    transition: background 0.3s ease;
    
}

#search-bar button:hover {
    background-color: #a5001a;
}

#header-icons span {
    color: white;
     font-family: 'Montserrat';
    
}

#header-icons i {
    color: red;
    margin: 10px;
}

header nav {
    border-top: 3px solid #D10024;
      font-family: 'Inter';
    
}

.nav-menu {
    background-color: white;
    width: 100%;
    border-bottom: 2px solid rgba(194, 192, 192, 0.643);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    
}

.nav-menu ul {
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
   
    margin: 0 10px;
}

.nav-menu ul li a {
    display: block;
    padding: 15px 25px;
    color: #222;
    font-weight: 500;
    text-decoration: none;
      font-family: 'Inter';
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

.nav-menu ul li a:hover {
    color: #D10024;
    border-bottom-color: #D10024;
}


  .shop {
    width: 300px;   
    height: 220px;  
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background-color: rgba(211, 211, 211, 0.54);
}


.shop::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    background: #D10024;
    opacity: 0.9;
    transform: skewX(-45deg);
    z-index: 1;
}

.shop::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    width: 100%;
    background: #D10024;
    opacity: 0.9;
    transform: skewX(-45deg) translateX(-100%);
    z-index: 1;
}

.shop-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    z-index: 0;
    transition: transform 0.7s ease, z-index 0s 0.7s;
}


.shop:hover .shop-img img {
    transform: scale(1.2);
    z-index: 2;
    transition: transform 0.7s ease, z-index 0s;
}


.shop-body {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 3;
    color: white;
}

.shop-body h3 {
    font-size: 20px;
      font-family: 'Inter';
    margin: 0 0 10px;
    line-height: 1.2;
}

.cta-btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
      font-family: 'Inter';
}

.cta-btn i {
    margin-left: 5px;
}
div.banners {
    padding: 20px;
    display: flex;
    justify-content: space-evenly; 
    margin: 0 20px; 
}
section.new-products {
    height: auto;
    
}
section.new-products div.container {
   letter-spacing: 1px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    box-sizing: border-box;
}

section.new-products div.container ul {
    margin: 0;
    padding: 0;
}

section.new-products div.container ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

section.new-products div.container ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #8D99AE;
     font-family: 'Inter';
    padding: 4px 0;
}

section.new-products div.container h2 {
     font-family: 'Montserrat';
    color: #2B2D42;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

section.new-products div.container ul li a:hover {
    color: #D10024;
    border-bottom: 3px solid #D10024;
}


section.new-products .product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px 0;
}

section.new-products figure {
      font-family: 'Inter';
    width: 280px;
    border: 1px solid rgba(75, 74, 74, 0.33);
    border-radius: 3px;
    background-color: white;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}
section.new-products figure:hover{
    border: 1.5px solid #D10024;
}

section.new-products figure img {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

section.new-products figure figcaption p {
    color: #8d99ae;
    display: block;
    margin-bottom: 5px;
}

section.new-products figure figcaption a#productName {
    text-align: center;
    color: #2B2D42;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

section.new-products figure figcaption a#productName:hover {
    color: #D10024;
}

section.new-products figure figcaption span#product-price {
    display: block;
    color: #D10024;
    font-weight: 700;
    margin: 10px 0;
}

#star-holders {
    margin: 10px 0;
}

section.new-products figcaption button{
    background-color: white;
    outline: none;
    border: none;
    margin: 10px 5px;
}

div.hot-deal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.hot-deal ul li div {
  font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    background-color: #D10024;
    border-radius:50% ;
    padding: 20px;
    color: white;
    font-size: 1.17em;
    font-weight: bold;
   text-align: center;
    width: 100px;
    height: 100px;
  
}
div.hot-deal ul li div span.span-fonts{
 font-size: 10px;
 font-style: lighter;
} 
   
div.hot-deal div#border-holder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}
div.hot-deal div#border-holder p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 1px;
      font-family: 'Inter';
        color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
    font-size: 24px;
}
    
div.hot-deal div#border-holder p:nth-child(2){
    letter-spacing: 3px;
     font-size: 15px;
      font-family: 'Montserrat';
     margin: 10px 0 20px;
}
div.hot-deal div#border-holder a{
       text-decoration: none;
    padding: 12px 30px;
    background-color: #D10024;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
      font-family: 'Inter';
    transition: 0.2s all;
}


div.newsletter {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px;
    border-bottom:1px solid #D10024 ;
      font-family: 'Inter';
}
div.newsletter form {
    margin-top: 15px;
    padding: 10px 20px;
    margin: 15px 0;
}
div.newsletter p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #5a5a5a88;
    text-transform: capitalize;
    
}

div.newsletter p span {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

div.newsletter form input[type="email"] {
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    width: 30%;
    border-radius: 40px 0px 0px 40px;
    margin-right: -4px;
}

div.newsletter form input[type="email"]::placeholder {
    margin: 0;
    font: inherit;
    color: #3333338b;
}

div.newsletter form button {
    width: 160px;
    height: 40px;
    font-weight: 700;
    background: #D10024;
    color: #FFF;
    border: none;
    border-radius: 0px 40px 40px 0px;
    text-transform: capitalize;
}

div.newsletter form button i {
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.newsletter ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.newsletter ul li i{
    color:#2B2D42
}
.newsletter ul li i:hover{
   color: #D10024;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px;
  background-color: #15161D;
  color: #5a5a5a;
font-family: 'Inter';
}

.footer-col {
  width: 22%;
  text-align: left;
}

.footer-col h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
   font-family: 'Montserrat';
  text-transform: capitalize;
  color: #FFF;
}

.footer-col p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #B9BABC;
}

.footer-col ul {
  padding: 0;
  margin: 0;
}

.footer-col ul li {
    
  list-style: none;
  margin-bottom: 8px;
}

.footer-col ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #B9BABC;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
}

.footer-col ul li a:hover {
  color: #D10024;
  cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    
div#header-icons span{
   display: none;
} 
    .container {
        width: 100%;
        padding: 0 15px;
    }

    header #top-header {
        padding: 10px 15px;
    }

    header #top-header ul.pull-left,
    header #top-header ul.pull-right {
        float: none;
        text-align: center;
        margin: 10px 0;
    }

    header #top-header ul li {
        display: inline-block;
        margin: 0 5px;
    }

    .main-header {
        flex-direction: column;
        gap: 15px;
        padding: 15px 15px;
    }

    .main-header .logo img {
        max-height: 50px;
    }

    #search-bar {
        width: 100%;
    }

    #search-bar input {
        border-radius: 40px;
        width: calc(100% - 110px);
    }

    #search-bar button {
        border-radius: 40px;
        width: 100px;
    }

    #header-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu ul li {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid rgba(194, 192, 192, 0.643);
    }

    .nav-menu ul li a {
        padding: 15px 0;
        border-bottom: none;
    }

    .shop {
        width: 100%;
        height: 200px;
    }

    .shop-body {
        left: 15px;
    }

    div.banners {
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        margin: 0;
    }

    section.new-products div.container {
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
        gap: 15px;
    }

    section.new-products div.container ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    section.new-products div.container ul li {
        margin: 0;
    }

    section.new-products .product-wrapper {
        gap: 15px;
        padding: 15px 0;
    }

    section.new-products figure {
        width: 100%;
        max-width: 280px;
    }

    div.hot-deal ul {
        flex-wrap: wrap;
        gap: 15px;
    }

    div.hot-deal ul li div {
        width: 80px;
        height: 80px;
        padding: 15px;
        font-size: 1em;
    }

    div.hot-deal div#border-holder p:nth-child(1) {
        font-size: 20px;
    }

    div.hot-deal div#border-holder p:nth-child(2) {
        font-size: 14px;
        letter-spacing: 2px;
    }

    div.hot-deal div#border-holder a {
        padding: 10px 20px;
        font-size: 14px;
    }

    div.newsletter {
        padding: 20px 15px;
    }

    div.newsletter form input[type="email"] {
        width: 100%;
        border-radius: 40px;
        margin-bottom: 10px;
    }

    div.newsletter form button {
        width: 100%;
        border-radius: 40px;
        height: 45px;
    }

    .newsletter ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
    .hot-deal{
        display: none;
    }

    .newsletter ul li {
        padding: 8px;
    }

    .footer {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
        align-items: center;
    }

    .footer-col {
        width: 100%;
        text-align: center;
    }

    footer {
        height: auto;
        padding: 20px 0;
        text-align: center;
    }
}
